 body {
     overflow-x: hidden;
 }

 /* Sidebar */
 #sidebar {
     min-width: 250px;
     max-width: 250px;
     background: #6f42c1;
     color: #fff;
     transition: all 0.3s;
     width: 250px;

 }

 #sidebar .components a {
     color: #fff;
     text-decoration: none;
     display: block;
     padding: 5px;
 }

 #sidebar .components a:hover {
     background: rgba(255, 255, 255, 0.1);
 }

 /* Hidden */
 #sidebar.active {
     margin-left: -250px;
 }

 /* Content */
 #content {
     width: 100%;
     transition: all 0.3s;
 }

 /* Shift content */
 #sidebar.active+#content {
     margin-left: 0;
 }

 /* Fixed toggle button (always visible) */
 #sidebarToggleBtn {
     position: fixed;
     top: 40px;
     left: 255px;
     /* Start just outside sidebar */
     z-index: 1000;
     transition: all 0.3s ease;
 }




 #toggleBtn {
     transition: all 0.3s ease;
     margin-left: 250px;
     /* same as sidebar width */
 }

 #sidebar.active+#toggleBtn {
     margin-left: 0;
     /* move button left when sidebar hidden */
 }

 /* When sidebar hidden, bring button back to left */
 #sidebar.active~#sidebarToggleBtn {
     left: 10px;
 }