@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body{
 background-color: blueviolet !important;
  font-family: "Quicksand Display";
  font-optical-sizing: auto;
  
}

.inner{
    min-height: 70vh;
    
}
.heading {
    background-image: linear-gradient(to left ,black , #fff);
 
    

}
.underline-input {
  border: none;
  border-bottom: 2px solid #000;
  border-radius: 0;
}
.profile-pic {
  width: 30px;
  height: 30px;
  object-fit: cover; /* keeps it neat inside circle */
}
.profile-pic1 {
  width: 80px;
  height: 30px;
  object-fit: cover; /* keeps it neat inside circle */
}

.login{

   background-image: url('file.svg');   /* your image */
  background-size: cover;            /* makes it cover full area */
  background-position: center;       /* keeps it centered */
  background-repeat: no-repeat;      /* prevents repeating */
  height: 70vh;                     /* full viewport height */
}

.sidebar-link {
    color: rgb(128, 18, 231);
    background-color: rgb(226, 212, 239);
   
    border: none;
}

.sidebar-link:hover {
    background-color: rgb(200, 170, 230);
    color: white;
}
